/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2020, 18:54:43
    Author     : João Pedro
*/

.jumbotron {
    background-color: #12d02ef5;
    color: white;
    padding: 2rem 2rem !important; 
    border-radius: unset;    
}

.h6, h6 {
    font-size: 1.1rem;
}


@media only screen and (max-width: 600px) {
    .h6, h6 {
        font-size: 1.2rem;
    }
}

