/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2020, 18:53:43
    Author     : João Pedro
*/

.jumbotron {
    background-color: #ffc107fc; 
    color: white;
    padding: 2rem 2rem !important; 
    border-radius: unset;    
}

@media only screen and (max-width: 600px) {
    .h4, h4 {
        font-size: 1.4rem;
    }
}