/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/05/2020, 17:31:34
    Author     : João Pedro
*/

body {
    background-color: #ccd4b82b;
}

.jumbotron {
    background-color: #2cb259;
    color: white;
    padding: 2rem 2rem !important; 
    border-radius: unset;    
}

.bg-danger {
    background-color: #2cb259!important;
}