/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2020, 14:46:34
    Author     : joseh
*/

body {
    background-color: #ccd4b82b;
}

body, label, button, a {
    font-family: 'Poppins', sans-serif;
}

#card-deck {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}


.imagens-cards {
    width: 80%;
    margin: 10px auto;
}

.cards {
    border-radius: 25px;
    box-shadow: 0px 0px 4px #0099c5;
    margin: auto;
    width: 14rem;
}

.botoes-card {
    width: 100%;
    border-color: #0099c5!important;
    box-shadow: 0px 0px 4px !important;
    background-color: #0099c5;
    border-radius: 30px;
    padding: 5px;
    color: white;
}

.botoes-card:hover{
    background-color: #0099c5e0 !important;
}