/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2020, 14:46:34
    Author     : joseh
*/

body, label, button, a {
    font-family: 'Poppins', sans-serif;
}

#card-deck {
    text-align: center;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
}

.imagens-cards {
    width: 80%;
    margin: 10px auto;
}

.cards {
    border-radius: 25px;
    box-shadow: 0px 0px 4px #f73737;
    margin: auto;
    width: 14rem;
}

.botoes-card {
    width: 100%;
    border-color: #f73737!important;
    box-shadow: 0px 0px 4px !important;
    background-color: #f73737;
    border-radius: 30px;
    padding: 5px;
    color: white;
}

.jumbotron {
    background-color: #f73737;
    color: white;
    padding: 2rem 2rem !important; 
    border-radius: unset;
    margin-bottom: 0rem;
}

.botoes-card:hover{
    background-color: #f73737 !important;
}

.bnt2{
    
}

@media only screen and (max-width: 600px) {
    .cards {
        border-radius: 25px;
        box-shadow: 0px 0px 4px #f73737;
        margin: auto;
        width: 19rem;
    }
    
    .imagens-cards {
        width: 65%;
        margin: 10px auto;
    }
    
    .bnt2{
        font-size: 1.60rem;
        line-height: 1.5;        
    }
    
    #card-deck {
        text-align: center;
        margin-top: 8%;
        margin-left: 1%;
        margin-right: 1%;
        display: flex;
    }
}