/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/03/2020, 20:27:55
    Author     : João Pedro
*/

body, label, button, a, h1, input {
    font-family: 'Poppins', sans-serif;
}

.bg-danger {
    background-color: #fb5877!important;
}

.jumbotron {
    background-color: #ff365ce6;
    color: white;
    padding: 2rem 2rem !important; 
    border-radius: unset;    
}

#textoEventoAgendados{
    font-size: 1.17rem;
}

#textoAniversariantes{
    font-size: 1.17rem;
}

#textoValidacaoAgendamento{
    font-size: 1.17rem;
}

#textoValidacaoAniversariante{
    font-size: 1.17rem;
}

@media only screen and (max-width: 600px) {
    #textoEventoAgendados{
        font-size: 1.35rem;
    }

    #textoAniversariantes{
        font-size: 1.35rem;
    }
}