/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2020, 17:05:32
    Author     : João Pedro
*/

body, label, button, a, h1, input {
    font-family: 'Poppins', sans-serif;
}

.list-group-item{
    color: black !important;
}

.jumbotron {
    background-color: #ec768cbd;
    color: white;
    padding: 2rem 2rem !important;
    border-radius: unset;    
}
